@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* 

GENERICS

*/

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

h2 {
    font-weight: bold;
}

h4 {
    display: block;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
}

li {
    padding: 0 20px;
    list-style: none;
}

.purple {
    color: #6415ff;
}

img {
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

button {
    cursor: pointer;
}

.container {
    padding: 96px 0;
}

figure {
    display: block;

}

main {
    margin-bottom: 96px;
}

section {
    padding: 0 32px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

/*

NAV BAR

*/

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__row {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    
}

.nav__logo--img {
    width: 50px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    padding-left: 16px;
}

.nav__link {
    color: #242424;
    font-size: 14px;
    font-weight: 600;

}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

/*

HEADER

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;

}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

/*

FEATURES

*/

#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__title {
    text-align: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/*

QUALITY

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description, .quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

#quality .section__title, #values .section__title {
    line-height: 1.25;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}

/*

STEPS

*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description, .steps__img--wrapper {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

/*

PRICING

*/

/*

TESTIMONIALS

*/

/*

START

*/